<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="search">
                <div class="row search_bar">
                    <input type="text" id="search_input" class="form-control col-md-2 search_input" placeholder="Search for...">
                    <div class="col-md-1 search_icon"><a href=""><span class=" col-md-1  glyphicon glyphicon-search" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <div class="list">
                <ul class="nav nav-sidebar">
                    <li><a href="">Todos</a></li>
                    <li><a href="">Starred todos</a></li>
                    <li><a href="">Urgent</a></li>
                </ul>
            </div>
            <div class="newtodo">
                <a href="" class="create">
                    <span class="create_icon glyphicon glyphicon-plus"></span>
                    <span class="">Create List</span>
                </a>
            </div>
        </div>
        <div class="col-md-9 col-md-offset-3 main">
            <div class="toolbar">
                <div class="logo">iPlan</div>
               <!--  <div class="col-md-3 user"><a href=""><span class=" col-md-1  glyphicon glyphicon-user" aria-hidden="true"></span></div> -->
            </div>
        </div>
    </div>
</div>
